#addBooks, #booksMessage {
    margin: 85px 0 80px 0;
    text-align: center;
}
#addBooks h1, #booksMessage h1 {
    font-size: 1.25em;
    margin: 1vh auto 0 auto;;
}
#addBooks input {
    padding: 2px;
    margin: 0 auto 1vh auto;
    border: 0.5px solid lightslategray;
    text-align: center;
}
.buttons {
    margin: 2vh 0 0 0;
}
.editButton {
    float: left;
    border: 0.5px solid lightslategray;
    padding: 2px;
    background-color: mediumturquoise;
    width: 30vw;
    min-width: fit-content;
    box-shadow: 1px 1px;
}
#addButton, #removeButton {
    margin: 0 35vw 1vh;
}
#booksMessage {
    display: none;
}
#anotherButton {
    width: 40vw;
    margin: 2vh 30vw 0 30vw;
}
#addButton:active, #removeButton:active, #anotherButton:active {
    background-color: darkturquoise;
    text-decoration: underline;
    box-shadow: none;
}
#futureBooksHeader {
    text-align: center;
}
#futureBooksHeader h1 {
    font-size: 1em;
    margin: 5vh auto 1vh auto;
}
#futureBooksList {
    margin: 0 5vw 50px 5vw;
    width: 86vw;
    min-height: 10vh;
    overflow-y: scroll;
    background-color: mediumturquoise;
    border: 0.5px solid lightslategray;
    padding: 1vh 2vw;
    text-align: center;
}
#futureBooksList h1 {
    font-size: 0.75em;
    font-weight: normal;
    margin: 0 auto;
}
.bookRow {
    width: 100%;
}
::-webkit-scrollbar {
    background: transparent;
}
@media only screen and (min-width: 425px) {
    #futureBooksList h1 {
        font-size: 1em;
    }
    #addButton {
        margin: 0 2.5vw 0 16vw;
    }
    #removeButton {
        margin: 0 16vw 0 2.5vw;
    }
}