#booklist {
    width: 85vw;
    margin: 85px 7.5vw 50px 7.5vw;
}
.book {
    width: 100%;
    margin: 2vh 0;
}
.book img {
    max-width: 100%;
    height: auto;
}
.bookText {
    text-align: center;
    font-size: 1em;
    font-weight: normal;
    margin: 0.5vh 0 0 0;
}