#bookSelection {
    margin: 85px auto 5px;
    text-align: center;
}
#bookSelection select {
    padding: 8px;
    border: 0.5px solid lightslategray;
}
#reviewSearchButton {
    border: 0.5px solid lightslategray;
    padding: 8px;
    background-color: mediumturquoise;
    width: fit-content;
    box-shadow: 1px 1px;
}
#reviewSearchButton:active {
    background-color: darkturquoise;
    text-decoration: underline;
    box-shadow: none;
}
#reviewDisplay {
    width: 90vw;
    margin: 2vh 5vw 80px 5vw;
}
.bookReview {
    border: 0.5px solid lightslategray;
    padding: 1vh 4vw 2vh;
    margin: 1vh 0;
    background-color: mediumturquoise;
}
.reviewHeader {
    font-size: 1.2em;
    margin: 0 0 1vh 0;
    text-align: center;
}
.reviewContent {
    margin: 0;
}