#bookSelection {
    margin: 85px auto 5px;
    text-align: center;
}
#bookSelection select {
    padding: 8px;
    border: 0.5px solid lightslategray;
}
#reviewSearchButton, #addReview, #reviewButton {
    border: 0.5px solid lightslategray;
    padding: 8px;
    background-color: mediumturquoise;
    width: fit-content;
    box-shadow: 1px 1px;
}
#reviewSearchButton:active, #addReview:active, #reviewButton:active {
    background-color: darkturquoise;
    text-decoration: underline;
    box-shadow: none;
}
#reviewDisplay {
    width: 90vw;
    margin: 2vh 5vw 80px 5vw;
}
.bookReview {
    border: 0.5px solid lightslategray;
    padding: 1vh 4vw 2vh;
    margin: 1vh 0;
    background-color: mediumturquoise;
}
.reviewHeader {
    font-size: 1.2em;
    margin: 0 0 1vh 0;
    text-align: center;
}
.reviewContent {
    margin: 0;
}
#reviewAddition {
    display: none;
    text-align: center;
    width: 80vw;
    margin: 5vh 10vw 0 10vw;
}
#reviewAddition h1 {
    font-size: 1em;
    margin: 3vh 0 0 0;
}
.inputs {
    border: 0.5px solid lightslategray;
    width: 100%;
    height: 3vh;
    margin: 1vh 0 1vh 0;
    font-size: 0.8em;
    text-align: center;
}
#nameInput, #titleInput, #ratingInput {
    width: 20vw;
    margin: 1vh 30vw 1vh 30vw;
}
#contentInput {
    text-align: left;
}
#reviewButton {
    margin: 3vh 0 0 0;
}