html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* NavBar */
#navCol {
    background-color: lightblue;
    width: 100vw;
    max-height: fit-content;
    text-align: center;
}
#navList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}
.navLI {
    float: left;
}
.navLink {
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
#dropdownButton {
    display: inline-block;
}
#dropdownContent {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdownLink {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-top: none;
}
#dropdownButton:hover #dropdownContent {
    display: block;
}
#navList a:hover {
    background-color: lawngreen;
}