html, body {
    margin: 0;
    padding: 0;
    background-color: powderblue;
}
#nameHeader {
    text-align: center;
    width: 100vw;
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: mediumturquoise;
    border-bottom: 0.5px solid lightslategray;
}
#nameHeader:active, #mobileNavBar:active, .navMenuItem:active {
    text-decoration: underline;
    background-color: darkturquoise;
}
#mobileNavBar {
    height: 40px;
    width: 100vw;
    background-color: mediumturquoise;
    position: fixed;
    bottom: 0;
    text-align: center;
    border-top: 0.5px solid lightslategray;
}
#mobileNavIcon {
    padding: 5px 0;
}
#mobileNavMenu {
    position: fixed;
    width: 100vw;
    bottom: 40px;
    font-size: 1.2em;
}
.navMenuItem {
    margin: 0 auto 1vh auto;
    padding: 12px;
    background-color: mediumturquoise;
    border: 1px solid lightslategray;
    border-radius: 100%;
    width: fit-content;
}
.navActive {
    font-weight: bold;
}
.noDisplay {
    display: none;
}
@media only screen and (min-width: 600px) {
    .mobile {
        display: none;
    }
    .web {
        display: block;
    }
}