<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwaz | BookClub</title>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/books.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class='container'>
        <div class='row' id='nameHeader'>
            <h1 id='headerText'>(Mr.) Darcy's Book Club</h1>
        </div>
        <div class='row mobile noDisplay' id='mobileNavMenu'>
            <div class='navMenuItem' value='home'>Home</div>
            <div class='navMenuItem' value='reviews'>Reviews</div>
            <div class='navMenuItem navActive' value='books'>Book List</div>
        </div>
        <div class='row mobile' id='mobileNavBar'>
            <img id='mobileNavIcon' src="https://img.icons8.com/material-outlined/30/000000/menu--v1.png"/>
        </div>
        <div class='row web' id='navBar'>
            <div class='navItem' value='home'><p>Home</p></div>
            <div class='navItem' value='reviews'><p>Reviews</p></div>
            <div class='navItem navActive' value='books'><p>Book List</p></div>
        </div>
        <div class='row' id='addBooks'>
            <h1 id='addTitle'>Title</h1>
            <input type='text' id='titleInput' class='inputs'>
            <h1 id='addAuthor'>Author</h1>
            <input type='text' id='authorInput' class='inputs'>
            <div class='buttons'>
                <div class='editButton' id='addButton'>Add Book</div>
                <div class='editButton' id='removeButton'>Remove Book</div>
            </div>
        </div>
        <div class='row' id='booksMessage'>
            <h1 id='successMessage'></h1>
            <div class='editButton' id='anotherButton'>Make Another Change</div>
        </div>
        <div class='row' id='futureBooksHeader'>
            <h1>Future Books List</h1>
        </div>
        <div class='row' id='futureBooksList'>

        </div>
    </div>
    
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='/static/js/zwaz.js'></script>
    <script type='text/javascript' src='/static/js/books.js'></script>
</body>
</html>