<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwaz | BookClub</title>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
</head>
<body>
    <div id='navCol'>       
        <ul id='navList'>
            <li class='navLI'><a class='navLink active' href='/'>Home</a></li>
            <li class='navLI' id='dropdownButton'><a class='navLink inactive'>Members</a>
                <div id='dropdownContent'>
                    <a class='dropdownLink inactive' href='/'>Alysia</a>
                    <a class='dropdownLink inactive' href='/'>Arianna</a>
                    <a class='dropdownLink inactive' href='/'>Brendan</a>
                    <a class='dropdownLink inactive' href='/'>Grace</a>
                    <a class='dropdownLink inactive' href='/'>Jacob</a>
                    <a class='dropdownLink inactive' href='/'>Lyndan</a>
                    <a class='dropdownLink inactive' href='/'>Spencer</a>
                </div>
            </li>
            <li class='navLI'><a class='navLink inactive' href='/'>Future Books List</a></li>
        </ul>
    </div>    
    
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='/static/js/app.js'></script>
</body>
</html>