<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zwaz | BookClub</title>
    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/reviews.css">
    <!-- Favicon -->
    <link rel="icon" type='image/x-icon' href="/static/images/favicon.ico">
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <div class='container'>
        <div class='row' id='nameHeader'>
            <h1 id='headerText'>(Mr.) Darcy's Book Club</h1>
        </div>
        <div class='row mobile noDisplay' id='mobileNavMenu'>
            <div class='navMenuItem' value='home'>Home</div>
            <div class='navMenuItem navActive' value='reviews'>Reviews</div>
            <div class='navMenuItem' value='books'>Book List</div>
        </div>
        <div class='row mobile' id='mobileNavBar'>
            <img id='mobileNavIcon' src="https://img.icons8.com/material-outlined/30/000000/menu--v1.png"/>
        </div>
        <div class='row web' id='navBar'>
            <div class='navItem' value='home'><p>Home</p></div>
            <div class='navItem navActive' value='reviews'><p>Reviews</p></div>
            <div class='navItem' value='books'><p>Book List</p></div>
        </div>
        <div class='row' id='bookSelection'>
            <button id='addReview' onclick='addReview();'>Add</button>
            <select name='book' id='bookTitleSelection'>
                <option value='All'>All</option>
                <option value='thehouseintheceruleansea'>The House in the Cerulean Sea</option>
            </select>
            <select name='person' id='personSelection'>
                <option value='All'>All</option>
                <option value='Alysia'>Alysia</option>
                <option value='Arianna'>Arianna</option>
                <option value='Brendan'>Brendan</option>
                <option value='Grace'>Grace</option>
                <option value='Jacob'>Jacob</option>
                <option value='Lyndan'>Lyndan</option>
                <option value='Spencer'>Spencer</option>
            </select>
            <button id='reviewSearchButton' onclick='reviewSearch();'>Search</button>
        </div>
        <div class='row' id='reviewDisplay'>
            
        </div>
        <div class='row' id='reviewAddition'>
            <h1 id='newReviewName'>Name</h1>
            <input type='text' id='nameInput' class='inputs' maxlength="7">
            <h1 id='newReviewTitle'>Title</h1>
            <input type='text' id='titleInput' class='inputs'>
            <h1 id='newReviewContent'>Review</h1>
            <textarea type='text' id='contentInput' class='inputs'></textarea>
            <h1 id='newReviewRating'>Rating</h1>
            <input type='text' id='ratingInput' class='inputs' maxlength="3">
            <button class='newReviewButton' id='reviewButton' onclick='submitReview();'>Submit Review</button>
        </div>
    </div>
    
    <!-- D3 Scripts -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
    <!-- Javascript -->
    <script type='text/javascript' src='/static/js/zwaz.js'></script>
    <script type='text/javascript' src='/static/js/reviews.js'></script>
</body>
</html>